{% extends 'base.html' %}

{% block content %}

Recent predictions: <br/>
{% for i in last_5 %}
<img src="{{i['img']}}"" alt="" width=50, height=50> {{i}}<br/>
{% endfor %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% if pred_list %} 
    {% for pred in pred_list %}
    <h1 class="display-4">{{pred['inference']}}!</h1>
    <p class="mt-5">Confidence: <strong>{{pred['confidence']}}%</strong></p>
    <p class="text-center">Image Uploaded:
    <img src="{{pred['img']}}"" alt="" width=120, height=120>
    <p>=================++++++++++====================</p>
    </p> 
    {% endfor %}
    {% endif%}

    <p class="mt-5"> <a href="/">Try again</a></p>
</div>

{% endblock %}